
body {
            height: 100vh;
            margin: 0;
            background: linear-gradient(
                135deg,
                rgba(245, 230, 255, 1) 0%,
                rgba(230, 240, 255, 1) 50%,
                rgba(245, 230, 255, 1) 100%
            );
        }

.collection-grid {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}